<tr id="<%= dom_id movie %>">

  <td class="<%= column_class("title")%>" style="min-width:200px; max-width:300px; overflow-wrap:break-word;">
    <%= movie.title%>
  </td>
  
  <td class="<%= column_class("rating")%>"  style="min-width:100px;">
    <%= movie.rating %>
  </td>
  
  <td class="<%= column_class("release_date")%>"  style="min-width:100px;">
    <%= movie.release_date %>
  </td>

  <td style="text-align:end; min-width: 200px; width: auto; display:flex; flex-direction: row; justify-content: space-around;">
    <%= link_to "<button id='btn-show' class='btn'>Show</button>".html_safe, movie %>
    <%= link_to "<button class='btn' id='btn-edit'>Edit</button>".html_safe, edit_movie_path(movie) %>
    <%= button_to "Delete", movie, method: :delete, class: "btn", id: "btn-delete", form_class: "delete-form" %>
  </td>
  
</tr>
