<tr id="<%= dom_id movie %>">

  <td>
    <%= movie.title%>
  </td>
  
  <td>
    <%= movie.rating %>
  </td>
  
  <td>
    <%= movie.release_date %>
  </td>

  <td>
    <%= link_to "<button id='btn'>Show</button>".html_safe, movie %>
  </td>
  
</tr>
