<% content_for :title, "Movies" %>

<div class="container">

   <p style="color: green"><%= notice %></p>

  <div class="list-heading">
    
    <div style="align-self:end;">
      <h1 style="margin:0px;">Movies</h1>
    </div>

    <div style="align-self:end;"> 
      <%= link_to "<button id='btn-create'>Create New Movie</button>".html_safe, new_movie_path %>
    </div>

  </div>

 
  <table id="movies">
    
    <thead id="movie-th">
      <th class="tb-th <%= column_class("title")%>"><%= sort_col("title" ) %></th>
      <th class="tb-th <%= column_class("rating")%>"><%= sort_col("rating") %></th>
      <th class="tb-th <%= column_class("release_date")%>"><%= sort_col("release_date")%></th>
      <th class="tb-th"></th>
    </thead>
    
    <tbody id="movie-tbody">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </tbody>

    <tfoot id="movie-tfoot">
    </tfoot>

  </table>

</div>



